<div class="sidebar">
  <div class="profile">
    <img src="https://ui-avatars.com/api/?name=sachu+bawa" alt="Profile">
    <span>Welcom User</span>
  </div>

  <ul class="menu">
    <li><a routerLink="/dashboard" class="nav-link text-white"><i class='bx bxs-dashboard'></i>&nbsp;Dashboard</a></li>
    <li> <a routerLink="/profile" class="nav-link text-white"><i class='bx bxs-user'></i>&nbsp;Profile</a>
    </li>
    <li> <a routerLink="/setting" class="nav-link text-white"><i class='bx bx-cog'></i>&nbsp;Settings</a></li>
    <li><a href="/">Pages</a></li>
    <li><a href="/">Performance</a></li>
    <li><a href="/">Tags</a></li>
    <li><a href="/">Members</a></li>
  </ul>
  <div>
    <hr class="bg-secondary">
    <a (click)="logout()" class="nav-link text-danger">
      <i class="bi bi-box-arrow-right"></i> Logout
    </a>
  </div>
</div>
