<div class="hero-section">
  <img src="https://s3.rdbuz.com/Images/responsiveweb/HomeBanner.webp" style="width: 100%;" alt="">
  <div class="hero-text">
    <h1>India's No. 1 online <br> bus ticket booking site</h1>
  </div>
</div>
<div class="card p-4 card_adj">

  <div class="row font_f">
    <div class="col-md-3">
      <label for="text">From</label>
      <input type="text" class="form-control" placeholder="">
    </div>
    <div class="col-md-3">
      <label for="">To</label>
      <input type="text" class="form-control" placeholder="">
    </div>
    <div class="col-md-2">
      <label for="">Date Of Departure</label>
      <input type="date" class="form-control" name="" id="">
    </div>
    <div class="col-md-2">
      <label for="">Date Of Return</label>
      <input type="date" class="form-control" name="" id="">
    </div>
    <div class="col-md-2">
      <button class="btn btn-outline-primary mt-3">Search</button>
    </div>
  </div>

</div>
