.stepper-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  position: relative;
}

.stepper-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 1;
  cursor: pointer;
}

.stepper-item::before,
.stepper-item::after {
  content: "";
  position: absolute;
  top: 20px;
  border-bottom: 2px solid #dee2e6;
  width: 100%;
  z-index: 1;
}

.stepper-item::before {
  left: -50%;
}
.stepper-item::after {
  left: 50%;
}

.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}

.step-counter {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #dee2e6;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: relative;
  font-weight: bold;
}

.stepper-item.active .step-counter {
  background: #0d6efd;
  color: #fff;
}

.stepper-item.completed .step-counter {
  background: #198754;
  color: #fff;
}

.stepper-item.completed::after {
  border-bottom: 2px solid #198754;
}

.step-name {
  margin-top: 8px;
  font-size: 14px;
  text-align: center;
}
/* 
 td{
  text-align: center;
} */
