/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif !important;
}

.formDesign {
    height: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 0px 0px 45px 0px;
}
@media (max-width: 991px) {

    .nav-md .container.body .right_col,
    .nav-md .container.body .top_nav {
        width: 100%;
        margin: 0;
    }

    .nav-md .container.body .col-md-3.left_col {
        display: none;
    }

    .nav-md .container.body .right_col {
        width: 100%;
        padding-right: 0
    }

    .right_col {
        padding: 10px !important;
    }
}
